<a href="https://colab.research.google.com/github/fmml2021/fmml2021/blob/main/01_elementary_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!python --version

### Elementary operations

#### Arithmetic operators
" addition + ,  subtraction  -  , multiplication  *  , division /  ,  exponent ** , modulus  %  , floor division  // "

*Problem :* A litre of petrol costs Rs 102/. Your two wheeler gives a mileage of 38kms per litre of petrol. How much of a distance can you travel with fuel worth Rs 50/.

#### References

1. [Python Operators](https://www.w3schools.com/python/python_operators.asp)
2. [Python Exercises](https://www.w3schools.com/python/exercise.asp)